body#Acceuil {
  background-image: url('/static/images_templates/france_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div.two{
  float:right;
}

ul#navbarMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}
ul#navbarCity {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #6c6eee;
}

li.navCity a, form {
  display: block;
  color: #010101;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.navCity a.active {
  color: white;
  background-color: #5255ef;
}

li.navCity{
  float: left;
}

li.navCity form {
  padding: 6px 16px;
}

li.navCity a:hover:not(.active) {
  background-color: #5255ef;
}

li.navItem {
  float: left;
}

li.navItem a, form {
  display: block;
  color: #010101;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li.navItem form {
  padding: 6px 16px;
}

li.navItem a:hover:not(.active) {
  background-color: #ddd;
}

li.navItem a.active {
  color: white;
  background-color: #4CAF50;
}

div.info {
    padding: 6px 16px;
    background-color: #DBF9FC;
}
