{% extends "base.html" %}
{# Have a look at base.html as well to understand how templating works ;)  #}

{% set page_title = 'Accueil'%}
{% set body_id = 'Accueil' %}

{% block content %}


<div>
  <div style="float: right ">
    <img src="{{url_for('static',filename = 'images_templates/drapeau-de-la-france.jpg')}}" height="80px" width="200px" />
  </div>
  <div style="text-align:center">
    <h1> <p><font size="+4"> <b>BIENVENUE EN FRANCE:</b> </font></p> <br /> </h1>


  </div>
</div>


<div class=containeraccueil>

  <div class="one">

    <p id=info> <font size="+2">De Paris à Marseilles, en passant par les Pyrénées ou les Alpes, la France offre une variété de paysages et d’expériences inégalée.
      Sa gastronomie, son histoire et sa culture en ont fait la destination la plus visitée au monde.
      Elle offre toujours plus de possibilités d'activités ainsi que des choses à découvrir. </p>

    <p> Grâce à ce site, vous serez capables de chercher votre destination préférée et découvrir tous ses secrets.
      Vous aurez le choix entre une panoplie d'informations : culture, historique, activités à faire, gastronomie ... <br />
      Vous serez plus que prêt pour votre futur voyage ;) ;) </p>

    </div>

<div class="two ">
  <div style="text-align: center;" >
    <img src="{{url_for('static',filename = 'images_templates/carte.jpg')}}" height="300" width="300 ">
  </div>

  </div>
</div>
</font>



<footer>
    <p>
      Copyright &copy; 2021-2022 - All Right Reserved
    </p>
</footer>
{% endblock %}
