<!DOCTYPE html>
<html>
  <head>
    <title>{{ page_title|default('default') }}</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% block head %}{% endblock %}
  </head>
  <body id= "{{body_id | default('')}}">
    <ul id="navbarMenu">
      <li class="navItem"><a href="{{ url_for('Acceuil') }}">Acceuil</a></li>
      <li class="navItem"><a href="{{ url_for('Villes') }}">Villes</a></li>
      <li class="navItem"><a href="{{ url_for('Contact') }}">Contact</a></li>
      <li class="navItem" style="float:right">
        <form class="" method="get" action="{{ url_for('ville_indiv') }}">
          <input list="villes" class="" placeholder="Recherche" type="text" name="pattern" autocomplete="off">
          <datalist id="villes">
            <option>Paris</option>
            <option>Lyon</option>
            <option>Marseille</option>
            <option>Bordeaux</option>
            <option>Toulouse</option>
            <option>Nice</option>
            <option>Bretagne</option>
            <option>Chamonix-Mont-Blanc</option>
            <option>Starsbourg</option>
            <option>Lille</option>
          <button class="" type="submit">Recherche</button>
        </form>
      </li>
    </ul>

{% block content %}{% endblock %}

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
