{% extends "base.html" %}

{% set page_title = 'Contact'%}
{% set body_id = 'Contact' %}



{% block content %}

<h1> <font size="+3">Contact et Informations </font> </h1>
<div style="float: right ">
<image src="{{url_for('static',filename = 'images_templates/contact.jpeg')}}" >
</div>
<p> <font size="+2"> <b>Nom de l'entreprise:</b> </font> <font size="+1"> RTML agence touristique </font>  </p>
<p> <font size="+2"> <b>Mail de contact: </b> </font> <font size="+1"> rtml@gmail.fr</font>  </p>
<p> <font size="+2"><b>Numéro de contact: </b> </font> <font size="+1"> 0167549867 </font> </p>
<p> <font size="+2"> <b>Adresse:</b> </font> <font size="+1"> 5 rue des écoles 75005</font> </p>


<p> <font size="+2"> <i>Laissez votre avis sur notre page ;) </i> </font> </p>

<textarea cols="50" rows="2" wrap="soft"> Écrire votre commentaire ici!</textarea>





<footer>
    <p>
      Copyright &copy; 2021-2022 - All Right Reserved
    </p>
</footer>
{% endblock %}
