
{% extends "base.html" %}
{% set page_title = 'Ville' %}
{% set body_id = 'Villes' %}

{% block content %}
{% for user in users %}
  {% if user.name=="Marseille"%}
<div style="text-align:center" class=navbarCity>
<h1> <p><font size="+2"> <b>BIENVENUE DANS LA VILLE DE MARSEILLE:</b> </font></p> </h1>
  <div style="text-align:center" class="div1">
    <h1> <p><font size="+1"> <b>Les activités proposées: </b> </font></p> </h1>
    <ul> <li>Activité 1 : Journée en bateau dans les calanques de Marseille
                <li>  Activité 2: Escape Game outdoor Harry Potter à Marseille </li>
                <li>      Activité 3 : Canyoning </li>
                  <li>    Activité 4 : Visite du Mucem </li>
                  <li>    Activité 5 : Visite des Villes à proximité de Marseille : Cassis, La Ciotat et Aix en Provence</li>
    </ul>
  </div>

  <div style="text-align:center"class="div2">
    <h1> <p><font size="+1"> <b>Les endroits culturels proposés: </b> </font></p> </h1>
    <li> Endroit 1: Le Vieux-Port </li>
              <li>     Endroit 2: La Basilique de Notre-Dame-de-la-Garde</li>
              <li>     Endroit 3: La Cathédrale de la Major </li>
              <li>     Endroit 4: Le quartier du Panier </li>
   </ul>
  </div>

  <div style="text-align:center" class="div3">
    <h1> <p><font size="+1"> <b>L'historique de la ville: </b> </font></p> </h1>
        <a>{{user.Historique}}</a>
  </div>

  <div style="text-align:center" class="div4">
    <h1> <p><font size="+1"> <b>Les plats proposées:  </b> </font></p> </h1>
    <ul> <li>  Plat 1 :La bouillabesse </li>
     <li>   Plat 2: pied paquets </li>
     <li>   Plat 3: panisse </li>
     <li>   Plat 4 :chichi frégi</li>
    </ul>
      </div>
      {% endif %}
      {% endfor %}
</div>

{% endblock %}
