{% extends "base.html" %}
{# Have a look at base.html as well to understand how templating works ;)  #}

{% set page_title = 'Villes'%}
{% set body_id = 'Villes' %}

{% block content  %}
<div style="text-align:center">
  <h1> <p><font size="+2"> <b>BIENVENUE EN FRANCE:</b> </font></p> </h1>
</div>

<div style="text-align:center" class= container>

  <div style="text-align:center" class="boxleft ">
       {% for user in users %}
      <div style="text-align:center" class="box 1">
              <a> <img src="{{url_for('static',filename=user.photo)}}" height="200px" width="200px" /> </br></a>
              <a><a href="{{ url_for('ville_indiv',name=user.name) }}">{{user.name}}</a>
             </div>
              {% endfor %}

  </div>

<footer>
    <p>
      Copyright &copy; 2021-2022 - All Right Reserved
    </p>
</footer>
{% endblock %}
