{% extends "base.html" %}

{% set page_title = 'Ville' %}
{% set body_id = 'Villes' %}

{% block content %}
<div class=navbarCity>

  <div style="text-align:center" class="div1">
    <div style="text-align:center" class=sousdiv1>
    <a href="{{url_for('gastro',name=villeName)}}">La Gastronomie</a>
    </div>
  </div>

  <div style="text-align:center"class="div2">
    <div style="text-align:center" class=sousdiv2>
    <a href="{{url_for('Villes')}}">La Culture</a>
      </div>
  </div>

  <div style="text-align:center" class="div3">
    <div style="text-align:center" class=sousdiv3>
      <a href="{{url_for('Contact') }}">L'Historique</a>
        </div>
  </div>

  <div style="text-align:center" class="div4">
    <div style="text-align:center" class=sousdiv4>
    <a href="{{url_for('Accueil')}}"> Les Activités</a>
      </div>
      </div>



</div>











{% endblock %}
